html, body {
  background-color: white;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}
header {
  justify-content: space-between;
  outline: 1px solid gray;
  align-items: center;
  position: static;
  display: flex;
  height: 11vw;
  width: 100vw;
  left: 0px;
  top: 0px;
}
header img {
  margin: 0px;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 0.5vw;
  height: 10vw;
  width: auto;
}
header h1 {
  font-size: 5vw;
  padding: 0px;
  margin: 0px;
  margin-top: 1.5vw;
}
nav {
  justify-content: space-between;
  background-color: rgb(0,0,0);
  align-items: center;
  display: flex;
  width: 100vw;
  height: 5vw;
}
nav p {
  background-color: gray;
  text-decoration: none;
  position: relative;
  font-size: 1.5vw;
  margin: 0.1vw;
  color: black;
  padding: 0px;
}
section {
  display: none;
  height: 40.25vw;
  width: 100vw;
}
#hidden {
  background-color: rgba(127,127,127,0.5);
  position: absolute;
  height: calc(100vh - 56.25vw);
  top: 56.25vw;
  width: 100vw;
  left: 0px;
}
#HOME {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0px;
  margin: 0px;
}
#HOMEslideshow {
  background-color: rgb(220,220,220);
  align-items: center;
  position: absolute;
  overflow: hidden;
  display: flex;
  height: 38.5vw;
  width: 70.5vw;
  left: 1vw;
  top: 17vw;
}
#HOMEslideshow > span {
  text-align: center;
  font-size: 1.5vw;
  position: sticky;
  left: 26vw;
  top: 36.5vw;
}
#HOMEslideshow > p {
  background-color: rgba(255,255,255,0.5);
  padding: 0px;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-top: 17.5vw;
  margin: 0px;
  position: sticky;
  font-size: 10vw;
  height: 30vw;
  top: 0vw;
}
#HOMEslideshow > p:hover {background-color: rgba(127,127,127,0.5);}
#HOMEslideshow > p:nth-child(3) {left: 59vw;}
#HOMEslideshow > p:nth-child(2) {left: 0vw;}
#HOMEslideshow > div {
  background-color: rgba(100,100,100,0.5);
  align-items: center;
  position: absolute;
  height: 38.5vw;
  display: flex;
  padding: 0px;
  padding-right: 25vw;
  padding-left: 25vw;
  margin: 0px;
  left: 0vw;
  top: 0vw;
}
#HOMEslideshow > div > div {
  background-color: green;
  border-color: black;
  border-style: solid;
  padding: 0vw;
  margin: 1vw;
  height: 15vw;
  width: 10vw;
}
#HOMEslideshow > div > div.hovering {
  background-color: red;
  height: 30vw;
  width: 20vw;
}
#HOMEslideshow > div > div > p {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  text-align: center;
  padding: 0px;
  padding-bottom: 0.5vw;
  padding-right: 0.25vw;
  padding-left: 0.25vw;
  padding-top: 0.5vw;
  margin: 0px;
  height: 1.5vw;
  width: 9.5vw;
  top: 24.2vw;
}
#HOMEslideshow > div > div.hovering > p {
  font-size: 5vw;
  width: 20vw;
  top: 27.5vw;
}
#HOMEtagline {
  border: 0.15vw solid black;
  background-color: green;
  border-radius: 2.5vw;
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 10vw;
  width: 26.5vw;
  left: 72.5vw;
  top: 16.75vw;
}
#HOMEtagline h1 {
  text-align: center;
  font-size: 2.5vw;
  padding: 0px;
  margin: 0px;
}
#HOMEtagline p {
  text-align: center;
  font-size: 1.5vw;
  padding: 0px;
  margin: 0px;
}
#HOMEinformation {
  border: 0.15vw solid black;
  background-color: green;
  border-radius: 2.5vw;
  position: absolute;
  padding: 0.75vw;
  margin: 0px;
  width: 25vw;
  left: 72.5vw;
  top: 27.5vw;
}
#HOMEinformation span {
  font-weight: bold;
}
#HOMEinformation p {
  font-size: 1.197vw;
  padding: 0px;
  margin: 0px;
}